*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Start Header section */
.navbar{
    max-width: 60%;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.logo{
    padding: 10px 30px 10px;
}

.logo img{
    width: 200px;

}

.list-item{
    margin-left: auto;
    padding: 0;
    text-align: center;
    display: flex;
}

.list-item a, .dropdown-container{
    text-decoration: none;
    font-size: 1.2rem;
    padding-left: 20px;
    display: flex;
    color: black;
}

.dropdown-container{
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    top: 15px;
    left: 0;
    margin-top: 5px;
    
}

.dropdown-content a{
    text-decoration: none;
    display: block;
    padding: 12px 16px;
    font-size: 1.2rem;
    color: black;
    border: 1px solid rgb(209, 195, 169);
    margin: 2px;
    border-radius: 5px;
}

.dropdown-container:hover .dropdown-content{
    display: block;
}

@media screen and (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .navbar{
        max-width: 100%;
        height: auto;
        background-color: rgb(255, 255, 255);
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    
    .logo{
        padding: 10px 30px 10px;
    }
    
    .logo img{
        width: 100%;
        height: 100px;
    }
    
    .list-item{
        display: inline;
        box-sizing: border-box;
    }

    .list-item a{
        text-align: center;
        margin: 0 auto;
        justify-content: center;
        padding: 20px 0px;
        border: 1px solid white;
        border-radius: 20px;
        background-color: rgb(165, 255, 255);
        font-weight: bold;
        font-family: sans-serif;
    }
    .list-item a:hover{
        background-color: aqua;
    }
    
    .dropdown-container{
        width: 100%;
        text-decoration: none;
        font-size: 1.2rem;
        display: block;
        color: black;
        position: relative;

    }
    
    .dropdown-content{
        width: 100%;
        display: none;
        position: absolute;
        z-index: 1;
        top: 58px;
        
    }
    
    .dropdown-content a{
        text-decoration: none;
        display: block;
        padding: 20px 0px;
        font-size: 1.2rem;
        color: black;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 20px;
    }
    
    .dropdown-container:hover .dropdown-content{
        display: block;
    }
}

/* End header section */


/* Start background image section */
.bg-img{
    background-image: url(./image/hero_1.jpg);
    width: 100%;
    height: 85vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-img h1{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 3rem;
    color: white;
}

.bg-img h3{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 10px;

}
.bg-img h3 span{
    color: aqua;
}

.bg-img button{
    padding: 20px 40px;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 255, 255, 0.637);
}

.bg-img button:hover{
    color: rgb(255, 255, 255);
    background-color: aqua;
}
@media screen and (max-width: 600px) {
    .bg-img {
        height: 70vh;
        padding: 20px;
    }

    .bg-img h1 {
        font-size: 2.2rem;
        padding: 5px;
    }

    .bg-img h3 {
        font-size: 1.2rem;
        padding: 5px;
    }

    .bg-img button {
        padding: 15px 30px;
        font-size: 1rem;
    }
}
/* End Background image section */

/* Content section start */

.first-content{
    max-width: 65%;
    display: flex;
    margin: 0 auto;
    margin-top: 5rem;
    justify-content: space-between;
    
}

.fc-1{
    width: calc(33.3% - 50px);
    margin-bottom: 25px;
    padding: 20px;
    text-align: justify;
    line-height: 30px;

}

.fc-1 .number{
    text-align: center;
    font-size: 6rem;
    opacity: .2;
    margin-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.fc-1 .title{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(40, 219, 219, 0.836);
    padding-left: 8px;
}

.fc-1 p, .fc-1 ul{
    font-size: 1rem;
    opacity: .7;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;


}

.fc-1 ul{
    padding-left: 0;
    
}

.fc-1 ul li{
    list-style: none;
    line-height: 3rem;
}

.fc-1 ul li i{
    color: aqua;
    padding-right: 15px;
}

@media screen and ( max-width: 600px) {
    .first-content{
        display: block;
        width: 100%;
    }

    .fc-1{
        width: 130%;
        padding: 20px;
        border: 1px solid whitesmoke;
        background-color: whitesmoke;
        box-shadow: 5px 5px 10px rgb(131, 131, 131);
        border-radius: 10px;
        margin-left: -15%;
    }
    .fc-1 h1{
        margin-top: 10px;
    }
}


/* Content Section End */

/* Content section Two start */

.second-content{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.second-content h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
    opacity: .6;
}

.second-content p{
    font-size: 20px;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: .5;
    font-weight: normal;
}

@media screen and (max-width:600px) {
    .second-content{
        width: 100%;
    }
    .second-content p{
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }
}


/* Content section two End */


/* <!-- Work Section Start--> */

.work-photo{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin-bottom: 50px;
}

.work-photo .img-text{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.work-photo img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.work-photo .img-text h3, .work-photo .img-text p{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    transition: 10s ease-out;
}

.work-photo .img-text h3{
    font-size: 30px;
}

.work-photo .img-text p{
    margin-top: 25px;
}

.work-photo .img-text:hover h3, 
.work-photo .img-text:hover p{
    display: block;
}

.work-photo img:hover{
    opacity: .5;
}

/* Work Section end */

/* card section start */

.card {
    max-width: 60%;
    background-color: black;
    margin: 0 auto;
    margin-bottom: 150px;
    margin-top: 120px;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.card .img-section {
    flex: 1;
    margin: 10px 30px 10px 10px;
}

.card .img-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.card .text-section {
    flex: 2;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.card .text-section h2 {
    margin: 0 0 10px 0; 
    font-size: 1.5em; 
    display: flex;
    align-items: center;
}

.card .text-section p {
    margin: 0 0 10px 0;
    font-size: 1em; 
}

.card .text-section a {
    color: #00bfff; 
    text-decoration: none; 
    font-weight: bold; 
}

@media screen and (max-width:600px) {
    .card{
        max-width: 100%;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* card section end */

/* Testimonial Section Start */

.testimonial{
    max-width: 40%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 200px;
}

.testimonial h1{
    font-size: 2.5rem;
    font-family: sans-serif;
    opacity: .8;
    margin-bottom: 20px;
}

.testimonial p{
    font-size: 1.5rem;
    opacity: .7;
    text-align: justify;
    line-height: 2.5rem;
    letter-spacing: 1.3px;
}

.testimonial .testimonial-img{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.testimonial .testimonial-img img{
    width: 60px;
    border-radius: 50%;
    display: flex;

}

.testimonial .testimonial-img h4{
    margin: 20px;
    font-family: sans-serif;
    opacity: .7;
}

@media screen and (max-width:600px) {
    .testimonial{
        max-width: 90%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: -60px;
    }
    .testimonial p{
        margin-left: 20px;
        margin-right: 20px;
        line-height: normal;
        letter-spacing: normal;
    }
}



/* Testimonial Section End */

/* Service Section Start */

.service-heading{
    text-align: center;
    font-size: 3rem;
    font-family: sans-serif;
    margin: 40px 0px;
    margin-bottom: 100px;
    font-weight: normal;
    text-decoration: underline;
}

.service-section{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 65%;
    margin: 0 auto;
    gap: 80px;
    margin-bottom: 100px;
    box-sizing: border-box;
}

.service-section .services{
    display: flex;
}

.services i{
    font-size: 2.3rem;
    padding-right: 20px;
    color: lightseagreen;
}

.service-content h3{
    font-size: 1.5rem;
    font-family: sans-serif;
    opacity: .7;
    padding-bottom: 10px;
}
.service-content p{
    text-align: justify;
    font-size: 1.2rem;
    opacity: .6;
    letter-spacing: 1.1px;
    line-height: 1.8rem;
}


.service-content a{
    color: rgb(81, 216, 209);
    font-size: 1.2rem;
    text-decoration: none;
    margin-top: 20px;
}

@media screen and (max-width:600px) {
    .service-section{
        display: block;
        width: 80%;
    }
    .service-section .services{
        margin-bottom: 50px;
    }
}


/* Service Section End */

/* Team Members section start */

.our-team{
    text-align: center;
    margin-top: 40px;
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: normal;
    opacity: .8;
}
.team-members-section{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
    box-sizing: border-box;
    display: flex;
}

.member1 img{
    width: 200px;
    border-radius: 50%;
    border: 1px solid lightskyblue;
}

.team-members-section .member1{
    margin-top: 20px;
    width: 25%;
    padding: 25px;
    text-align: justify;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    margin-right: 20px;
    border-radius: 10px;
    background-color: #e0dddd;
    box-shadow: 5px 5px 5px rgb(219, 216, 216);
}

.members-social-media{
    padding-top: 30px;
    font-size: 1.5rem;
}
.members-social-media a{
    padding-right: 5px;
    color: rgb(87, 81, 81);
}

.members-social-media a:hover{
    padding-right: 5px;
    color: rgb(34, 31, 31);
}

@media screen and (max-width:600px) {
    .team-members-section{
        width: 100%;
        display: block;
    }
    .team-members-section .member1{
        width: 90%;
        margin-left: 5%;
    }
    .our-team{
        color: aqua;
    }
}


/* Team members section end */

/* Contact Section Start */

.contact-us{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 30px;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: normal;
}

.contact-section{
    width: 70%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.contact-section .contact-form{
    width: 40%;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    padding: 30px;
    margin: 15px;
    border-radius: 10px;
    font-family: sans-serif;
}

.contact-section .contact-form h2{
    margin: 20px 0px;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1.8rem;
}

.contact-form input{
    width: 100%;
    padding: 15px 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    border:none
}
.contact-form input:focus{
    background-color: rgb(231, 245, 245);
}

.contact-form #message{
    width: 100%;
    height: 200px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    border: none;
}

.contact-form #send-message{
    width: 150px;
    margin-top: 20px;
    background-color: rgb(95, 238, 238);
    border: none;
    padding: 20px;
    color: white;
    cursor: pointer;
}
.contact-form #send-message:hover{
    box-shadow: 5px 5px 15px rgb(118, 241, 241);
}

.address-section{
    width: 30%;
    height: 320px;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    padding: 30px;
    margin: 15px;
    border-radius: 10px;
    font-family: sans-serif;
}

.address-section > div{
    margin-bottom: 30px;
}

.address-section .c2 p, .c3 p{
    color: rgb(125, 240, 240);
}

.address-section div p{
    margin-top: 10px;
}

@media screen and (max-width:600px) {
    .contact-section{
        display: block;
        width: 100%;
    }
    .contact-section .contact-form{
        width: 90%;
        margin-left: 5%;
    }
    .contact-us{
        margin-top: 0px;
        color: aqua;
    }
    .address-section{
        width: 90%;
        margin-left: 5%;
    }
}


/* Contact section end */

/* Get Started Section Start */

.full-button{
    width: 100%;
    height: 100px;
    background-color: rgb(76, 175, 175);
    color: white;
    font-weight: normal;
    text-align: center;
    align-content: center;
    font-family: sans-serif;
    font-size: 2.5rem;
}
.full-button:hover{
    background-color: rgb(27, 177, 177);
    cursor: pointer;
}
/* Get Started Section End */

/* Footer Section Start */

footer{
    width: 100%;
    height: 80vh;
    background-color: rgb(49, 48, 48);
    color: white;
}

.footer-section{
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    padding-top: 10%;
    font-family: sans-serif;
}

.footer-section > div{
    width: 20%;
    padding: 20px;
}

.about-us h3{
    padding-bottom: 30px;
    font-weight: normal;
    opacity: .8;
}
.about-us p{
    text-align: justify;
    line-height: 1.6rem;
    letter-spacing: 2px;
    opacity: .5;
}

.features{
    text-align: center;
}

.features h3{
    padding-bottom: 30px;
    font-weight: normal;
    opacity: .8;
}

.features ul li{
    list-style: none;
    margin-bottom: 20px;
}
.features ul li a{
    text-decoration: none;
    color: white;
    opacity: .5;
}
.features ul li a:hover{
    opacity: 1;
}

.follow-us h3{
    padding-bottom: 30px;
    font-weight: normal;
    opacity: .8;
}
.follow-us a{
    text-decoration: none;
    color: white;
    opacity: .5;
    padding-right: 10px;
}
.subscribe h3{
    padding-bottom: 30px;
    font-weight: normal;
    opacity: .8;
}

.subscribe{
    box-sizing: border-box;
}

.subscribe #email{
    width:75%;
    font-size: 1.1rem;
    padding: 6px 15px;
    background-color: transparent;
    border: 1px solid rgb(128, 127, 127);
    border-radius: 20px;
    color: white;
}
.subscribe #send{
    float: right;
    font-size: 1.1rem;
    padding: 7px 10px;
    background-color: rgb(95, 194, 194);
    border-radius: 15px;
    color: rgb(189, 189, 189);
    border: none;
}

.subscribe #send:hover{
    background-color: aqua;
    color: whitesmoke;
    box-shadow: 5px 5px 20px aqua;
}

.hr-rull{
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    opacity: .3;
}

.copyright{
    text-align: center;
    margin-top: 50px;
    opacity: .5;
    letter-spacing: 1.5px;
}

.copyright span{
    color: aqua;
    font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
    footer {
        height: auto; 
        padding-bottom: 20px;
    }

    .footer-section {
        flex-direction: column;
        padding-top: 5%;
    }

    .footer-section > div {
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }

    .subscribe #email {
        width: 70%;
        margin-bottom: 10px;
    }

    .subscribe #send {
        width: 40%;
        float: none;
        display: block;
        margin: 0 auto;
    }

    .hr-rull {
        width: 80%;
        margin-top: 50px;
    }

    .copyright {
        margin-top: 30px;
        font-size: 0.9rem;
    }

    .copyright span {
        font-size: 1.2rem;
    }
}


/* Footer Section End */